
.. |date-time| date:: %Y-%m-%d %H:%M

.. rubric:: Information

:HomePage:  http://www.tcqi.net	& `[Blog] <http://blog.csdn.com/hannosogno/>`_
:Author:    chuanqi.tan(at)gmail.com
:CopyRight: 采用" **CC BY 2.5** "许可协议
