
.. |date-time| date:: %Y-%m-%d %H:%M

.. rubric:: Information

:HomePage:  http://www.chuanqi.name
:Blog:      http://tanchuanqi.com
:Author:    chuanqi.tan(at)gmail.com
:CopyRight: 采用" **CC BY 2.5** "许可协议
